
<div class="row">
    <div class="col-md-1 col-md-offset-11">
        <a href="#/dashboard">Cancel</a>
    </div>
</div>
    <fieldset>
    <legend>Put the question and options here</legend>
    <div class="row PollController" >
        <div class="col-md-8 col-md-offset-1">
            <form class="form-horizontal" role="form" ng-submit = "create()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="question">Question:</label>
                    <div class="col-sm-7">
                        <input type="text" ng-model = "poll.question" class="form-control" id="question" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="option1">Option 1:</label>
                    <div class="col-sm-3">
                        <input type="text" ng-model = "option1.name" class="form-control" id="option1" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="option2">Option 2:</label>
                    <div class="col-sm-3">
                        <input type="text" ng-model = "option2.name" class="form-control" id="option2" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="option3">Option 3:</label>
                    <div class="col-sm-3">
                        <input type="text" ng-model = "option3.name" class="form-control" id="option3" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="option4">Option 4:</label>
                    <div class="col-sm-3">
                        <input type="text" ng-model = "option4.name" class="form-control" id="option4" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <input type="submit" class="btn btn-default" value = "Create Poll">
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>
