<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Windy.io</title>

    <style>
    section {
        padding: 65px 0px !important;
        margin:0px;
    }
    .small_graphs .row .col-md-4{
        margin-bottom:18px;
    }
    body {


        background-color: #f05f40 !important;
        }

        #first_section {
            position:relative;
            top:50px;
        }

        #big_graph tspan {
            color: white !important;
        }

        #big_graph .highcharts-title {
            color: white !important;
            fill: white !important;
        }

        div#big_graph {
            background-color: rgba(0,0,0,0.45);
            border: 1px solid white;
            border-radius: 14px;
        }

        div#big_graph g.highcharts-axis-labels.highcharts-xaxis-labels text {
            color: white !important;
            fill: white !important;
        }
        div#big_graph g.highcharts-axis-labels.highcharts-yaxis-labels text {
            color: white !important;
            fill: white !important;
        }

        #big_graph g.highcharts-axis text {
            color: white !important;
            fill: white !important;
        }
    </style>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/statics/css/bootstrap.min.css" type="text/css" />

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/statics/font-awesome/css/font-awesome.min.css" type="text/css" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/statics/css/animate.min.css" type="text/css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/statics/css/creative.css" type="text/css" />


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top" style="">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="index.html" style="color:#eb3812;">Windy.io</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li> <a class="" href="/home" th:text="'Welcome ' + ${name}"></a> </li>
                    <li> <a class="" href="/home/plan">Subscription</a> </li>
                    <li> <a class="" href="/home/plans">Plans</a> </li>
                    <li> <a class="" href="/home/usage">Usage</a> </li>
                    <li class="login-link"> <a class="" href="/logout">Logout</a> </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
    <section id="first_section" class="graph_wrapper">
            <div class="row container" style="margin:auto;">
              <div class="col-md-12">
                  <div id="big_graph" class="" style="mix-width: 310px; height: 450px; margin: 0 auto;"> </div>
              </div>
               </div>
    </section>
    </header>

    <section id="graphAnalytics_1" class="graph_wrapper small_graphs" style="background:#f05f40;">
        <center><h2 style="color:white; margin-top:-20px; margin-bottom:40px">Power Analytics per Turbine </h2>
  </center>
        <div class="" style="">

            <div class="row container" style="margin:auto;">

            </div>

        </div>
    </section>
     <section id="graphAnalytics_2" class="graph_wrapper small_graphs" style="background:white;">
        <center><h2 style="color:#f05f40; margin-top:-20px; margin-bottom:40px">Wind Analytics per Turbine </h2>
  </center>
        <div class="" style="">

            <div class="row container" style="margin:auto;">

            </div>

        </div>
    </section>

    <section id="contact" style="background:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary" />
                    <p>
                        Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@Windy.io</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/statics/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/statics/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/statics/js/jquery.easing.min.js"></script>
    <script src="/statics/js/jquery.fittext.js"></script>
    <script src="/statics/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/statics/js/creative.js"></script>


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">//<![CDATA[

    var globalData = {

        entitlements:{}
    }


        $(function () {
            $(document).ready(function () {

        globalData.entitlements= JSON.parse($('#entit').text());


        var dataLength=parseInt(globalData.entitlements.data.length);

        var graphAnalytics = $('.graph_wrapper .small_graphs');

            $("#graphAnalytics_1").hide();
            $("#graphAnalytics_2").hide();

            for(var k=0; k<dataLength; k++)
            {
                if(globalData.entitlements.data[k].featureId == "powerAnalytics")
                {
                    $("#graphAnalytics_1").show();
                }
                if(globalData.entitlements.data[k].featureId == "windAnalytics")
                {
                    $("#graphAnalytics_2").show();
                }
            }






               var makeGraph = function(el,index,total){
                    var colors = ["#f05f40","#87A61C","#F29F05","#0E3D59","#0E3D59","#87A61C","#F29F05"]
                    $(el).highcharts({
                         credits: {
                              text:"Powered By Nurego",
                              href:"http://nurego.com"
                          },
                        chart: {
                            backgroundColor: null,
                            type: 'spline',
                            animation: Highcharts.svg, // don't animate in old IE
                            marginRight: 0,
                            events: {
                                load: function () {

                                    // set up the updating of the chart each second
                                    var series = this.series[0];
                                    setInterval(function () {
                                        var x = (new Date()).getTime(), // current time
                                            y = Math.random();
                                        series.addPoint([x, y], true, true);
                                    }, 1000);
                                }
                            }
                        },
                        title: {
                            text:  (function(){
                                if(typeof index == "undefined"){
                                    return 'Total GWATT produced';
                                 }else{
                                     if(index <(total/2+1)){
                                         return 'Turbine '+ index+ ' GWATT';
                                     }else{
                                         return 'Turbine ' + ((index%(total/2+1))+1)+ ' Wind';
                                     }
                                 }
                            })()
                        },
                        xAxis: {
                            type: 'datetime',
                            tickPixelInterval: 150,
                        },
                        yAxis: {
                            title: {
                                text: 'Value'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        series: [{
                            color:colors[0],
                            name:'GWATT',
                            data: (function () {
                                // generate an array of random data
                                var data = [],
                                    time = (new Date()).getTime(),
                                    i;

                                for (i = -19; i <= 0; i += 1) {
                                    data.push({
                                        x: time + i * 1000,
                                        y: Math.random()
                                    });
                                }
                                return data;
                            }())
                        }]
                    });


               }

                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });
                var numberOfTurbines=parseInt(globalData.entitlements.data[0].maxAllowedAmount);
                //var slct = ["#big_graph", "#first_graph","#second_graph","#third_graph","#forth_graph","#graph_4","#graph_5","#graph_6"];

                makeGraph("#big_graph");


                var graphHolders = $('.small_graphs .row');
                var desiredIndex = 0;
                var totalNumOfGraphs= graphHolders.length*numberOfTurbines;
                for (var k=0; k<graphHolders.length; k++) {
                    for(var i = 0; i<numberOfTurbines; i++){
                    desiredIndex++;
                    var graph_element='<div class="col-md-4"><div id="graph_'+desiredIndex+'" class="well" style="max-width: 310px; height: 200px; margin: 0 auto;"></div></div>';
                    console.dir(graphHolders[k]);
                        $(graphHolders[k]).append(graph_element);
                        var el = "#graph_" + desiredIndex;
                        makeGraph(el,desiredIndex,totalNumOfGraphs);
                    }
                }


            });
        });
        //]]>
    </script>

<script type="text/javascript" src="/statics/js/login.js"></script>

<span id="entit" th:text="${entitlements}" style="display:none"></span>

</body>

</html>
