
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Windy.io</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/statics/css/bootstrap.min.css" type="text/css" />

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/statics/font-awesome/css/font-awesome.min.css" type="text/css" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/statics/css/animate.min.css" type="text/css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/statics/css/creative.css" type="text/css" />
    <link rel="stylesheet" href="/statics/css/custom.css" type="text/css" />

      <!-- *************************** -->
      <nurego-api-baseurl url="http://localhost:8000/nurego-api/"> </nurego-api-baseurl>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Nurego JS -->
    <style>

	button.button.btn.btn-primary.activate {
  		margin-top: 16px;
        float:left;
        border-radius: 4px;

	}

	.passError{
		display:none;
		margin-top:8px;
	}

	.passError.show{
		display:none;
	}

	.passConfirm{
		margin-top:6px;
	}
    .pass{
        margin-top: 20px;
    }

    header .header-content .header-content-inner p {
        font-size: 20px !important;
        max-width: 100%;
    }
</style>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">Windy.io</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
          <% if(!errors) { %>
              <section class="success">
                  <ul>

                          <li>
                              <%= JSON.stringify(errors) %>
                          </li>

                  </ul>
              </section>
          <% } %>
            <div class="header-content-inner">
                <div class="login_wrapper">
                <p id="compReg">Complete Registration</p>
            <form role="form" action="/registration/complete" method="post">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Organization" name="orgName" required>
                </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Contact Person" name="acctName" required>
                </div>
                <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="pwd1" required>
                </div>
                <div class="form-group">
                <input type="password" class="form-control" name="pwd2" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="/statics/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/statics/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/statics/js/jquery.easing.min.js"></script>
    <script src="/statics/js/jquery.fittext.js"></script>
    <script src="/statics/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/statics/js/creative.js"></script>



    <script type="text/javascript" src="/statics/js/login.js"></script>

    <!-- Nurego JS -->
    <script src="//rawgit.com/Nurego/nurego-js/staging/app/dist/bin.js" type="text/javascript" rel="nurego"> </script>


</body>

</html>
